*{}
*{
    margin         : 0;
    padding        : 0;
}
body {
    font-family: arial;
}
.box {
    width:700px;
    margin:auto;
}
.news {
    width:100%;
}
h1 {
    text-align:center;
    margin: 10px 0;
}
.back {
    display: flex;
    justify-content: flex-end;
}
p {
    text-align: justify;
    line-height: 25px;
}
.back a {
    text-decoration:none;
    background: green;
    padding:5px;
    border-radius:10px;
    color:yellow;
    margin:20px 0 40px 0;
}