*{}
*{
    margin         : 0;
    padding        : 0;
}
.box {
    width:700px;
    margin:auto;
}
.news {
    width:100%;
}
h1 {
    text-align:center;
}
.back {
    display: flex;
    justify-content: flex-end;
}
.back a {
    text-decoration:none;
    background: green;
    padding:5px;
    border-radius:10px;
    color:yellow;
    margin-bottom:40px;
}